@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body {
    margin: 0;
    font-family: "Montserrat-ExtraBold", Helvetica;
}

/* Barre de navigation sticky */
.barre-du-haut {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #90F4FF 10.1%, #0F4B5A 71.6%);;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Logo */
.abdian-logo-2-icon {
    height: 100px;
}

/* Navigation */
.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation .bouton {
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
}

.navigation .bouton:hover {
    background-color: darkblue 50%;
}

/* Style du bouton Se connecter */
.se-connecter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.generic-avatar-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* Contenu pour voir l'effet sticky */
.content {
    height: 1500px;
    padding: 20px;
    background: #f4f4f4;
}