@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body {
    margin: 0;
    font-family: "Montserrat-ExtraBold", Helvetica;
}


/* Barre de navigation sticky */
.barre-du-haut {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #90F4FF 10.1%, #0F4B5A 71.6%);;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Logo */
.abdian-logo-2-icon {
    position: relative;
    height: 100px;
}

/* Navigation */
.navigation {
    position: inherit;
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation .bouton {
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
}

.navigation .bouton:hover {
    background-color: darkblue 50%;
}

/* Style du bouton Se connecter */
.se-connecter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.generic-avatar-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* Contenu pour voir l'effet sticky */
.content {
    height: 1500px;
    padding: 20px;
    background: #f4f4f4;
}

.popover-increment{
    display: flex;
    flex-direction: column;
    width: 232px;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    position: relative;
    background-color: #183c5a;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid;
    border-color: #1111b3;
    color: #fff;
    font-size: 14px;
}

.popover-increment .row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    position: relative;
    align-self: stretch;
    width: 100%;

}
.popover-increment .incrementer {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}    

.popover-increment .bouton{
    padding: 8px 16px;
    background: skyblue;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.popover-increment .bouton:hover {
    background-color: darkblue 50%;
}
.popover-increment .value {
    position: relative;
    width: 32px;
    height: 32px;
    margin-top: -1.00px;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    }

.aller{
    background-color: #183c5a;
    color: white;
    padding: 20px 20px;
    border-radius: 8px 0 0 8px;

}
.arrive{
    background-color: #183c5a;
    color: white;
    padding: 20px 20px;
    border-radius: 0 0 0 0;

}
.depart{
    background-color: #183c5a;
    color: white;
    padding: 20px 20px;
}
.retour{
    background-color: #183c5a;
    color: white;
    padding: 20px 20px;
    border-radius: 0 8px 8px 0;
}
.recherche1{
    display: flex;
    align-items: center;
    background-color: lightseagreen;
    padding: 20px 20px;
    border-radius: 8px;
    color:white;

}
.recherche{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background:url('https://ibb.co/BHnBSGwr') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;

}
.recherche input{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: none;
}
.image-destinations{
    color:white;
    font-family: "Montserrat-ExtraBold", Helvetica;
}
.bora-bora-child {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 15px;
    width: 26.5rem;
    height: 20.875rem;
    object-fit: cover;
}
.bora-bora1 {
    position: absolute;
    top: 16.313rem;
    left: 2.063rem;
    font-weight: 800;
    text-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.67);
    color:white;
    font-family: "Montserrat-ExtraBold", Helvetica;
   
}
.bora-bora {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 26.5rem;
    height: 20.875rem;
    border-radius: 5px;
}
.paris1 {
    position: absolute;
    top: 16.375rem;
    left: 2.438rem;
    font-weight: 800;
    text-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.67);
    color:white;
    font-family: "Montserrat-ExtraBold", Helvetica;
}
.paris {
    position: absolute;
    top: 0rem;
    left: 28.063rem;
    width: 26.5rem;
    height: 20.875rem;
}
.berne1 {
    position: absolute;
    top: 16.313rem;
    left: 2.438rem;
    font-weight: 800;
    text-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.67);
    color:white;
    font-family: "Montserrat-ExtraBold", Helvetica;
}
.berne {
    position: absolute;
    top: 0rem;
    left: 56.125rem;
    width: 26.5rem;
    height: 20.875rem;
}
.alger2 {
    margin: 0;
}
.alger1 {
    position: absolute;
    top: 16.375rem;
    left: 2.313rem;
    font-weight: 800;
    display: inline-block;
    width: 8.938rem;
    height: 3rem;
    text-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.67);
    color:white;
    font-family: "Montserrat-ExtraBold", Helvetica;
}
.alger {
    position: absolute;
    top: 0rem;
    left: 84.875rem;
    width: 26.5rem;
    height: 20.875rem;
}
.tokyo1 {
    position: absolute;
    top: 16.375rem;
    left: 2.313rem;
    font-weight: 800;
    display: inline-block;
    width: 9.875rem;
    height: 3rem;
    text-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.67);
    color:white;
    font-family: "Montserrat-ExtraBold", Helvetica;
}
.tokyo {
    position: absolute;
    top: 0rem;
    left: 113.625rem;
    width: 26.5rem;
    height: 20.875rem;
}
.image-destinations {
    width: 100%;
    position: relative;
    height: 20.875rem;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}

